.Hero {
    height: 100vh;
}
.heroImg1, .heroImg2   {
    margin: auto;
    position: absolute;
    right: 0%;
    bottom: 0%;
    left: 0%;
    top: 0;
    color: #fff;
}
.heroImg1 {
    height: 40%;
    width: 33%;
}

.heroImg2 {
    top: 55%;
    width: 45%;
}


