.Hero {
    height: 100vh;
}
.Hero h1  {
    position: absolute;
    text-align: center;
    right: 36vw;
    top: 37vh;
    color: #fff;
}


@media only screen and (max-width: 786px) {
    .Hero h1  {
        position: absolute;
        right: 30vw;
        top: 37vh;
        color: #fff;
    }
}

@media only screen and (max-width: 639px) {
    .Hero h1  {
        position: absolute;
        right: 24vw;
        top: 37vh;
        color: #fff;
    }
}

@media only screen and (max-width: 535px) {
    .Hero h1  {
        position: absolute;
        right: 17vw;
        top: 37vh;
        color: #fff;
    }
}

@media only screen and (max-width: 365px) {
    .Hero h1  {
        position: absolute;
        right: 1px;
        top: 37vh;
        color: #fff;
    }
}