.testi-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}


.item {
    display: flex;
    justify-content: flex-start;
}

.owl-theme {
    width: 40%;
    margin-left: 0;
}

.f-heading {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}
.f-founders {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.f-heading {
    margin-top: 50px;
}
.f-lead {
    margin-bottom: 30px;
}
.about-testimonials {
    width: 55%;
    text-align: justify;
}

@media only screen and (max-width: 726px) {

    .about-testimonials {
        display: none;
    }

    .f-founders {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .owl-loaded {
        width: 200%;
    }

}