.owl-theme {
    color: #fff;
    margin-bottom: 30px;
}

.icon-car {
    color: #343a40;
}

.desc {
    color: #6c757d;
}

.title-car { 
    color: #6c757d;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}