.main {
    color: #6c757d;
    text-align: center;
    font-size: 56px;
    padding: 0;
    margin-bottom: 0;
    margin-top: 30px;
}

.lead {
    padding: 0;
    margin: 0;
    color: #6c757d;
    text-align: center;
    font-size: 18px;
}

.container-showcase {
    padding: 50px;
}